.sobre-bg {
  background-color: var(--cor-n0);
  padding: 20vh 0;
}

.sobre {
  padding: 0 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 140px;
}

.sobre-conteudo {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
}

.sobre-conteudo h1 {
  display: inline-block;
  font: 800 4rem/1 "Poppins", sans-serif;
  position: relative;
}

.sobre-conteudo h1::after {
  content: "";
  display: block;
  height: 5px;
  width: 20%;
  background-image: var(--cor-linear);
  position: absolute;
  margin-top: 5px;
  left: 4px;
}

.sobre-conteudo p {
  font: 400 1.25rem/1.5 "Poppins", sans-serif;
  max-width: 600px;
}


/* Social Medias */
.social-media ul {
  display: flex;
  gap: 40px;

}

.social-media ul svg {
  height: 40px;
  width: 40px;
  fill: #AC3AFF;
}

.social-media ul svg:hover {
  opacity: 0.5;
}



/* Minha foto */
.sobre-foto {
  display: inline-block;
  height: 500px;
  width: 500px;
}

.sobre-foto img {
  display: block;
  max-height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: solid 5px #AC3AFF;
}

/* Diminuir tamanho dos elementos */
@media(max-width: 1200px) {
  .sobre-conteudo {
    gap: 40px;
  }

  .sobre-conteudo h1 {
    font-size: 3rem;
  }

  .sobre-conteudo p {
    font-size: 1rem;
  }

  .sobre-foto {
    height: 400px;
    width: 400px;
  }
}

/* Colocar todos os elementos em apenas uma coluna*/
@media(max-width: 960px) {
  .sobre-bg {
    padding: 15vh 0vh;
  }

  .sobre {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
}

/* Diminui os conteúdos para nao estourar o container*/
@media(max-width: 600px) {
  .sobre-foto {
    height: 300px;
    width: 300px;
  }

  .sobre-conteudo h1 {
    font-size: 2.5rem;
  }

  .sobre-conteudo p {
    font-size: 0.75rem;
  }
}

/* Adaptação dos componentes para o mobile  */
@media(max-width: 450px) {
  .sobre-bg {
    padding: 10vh 0;
  }

  .sobre {
    gap: 75px;
  }

  .sobre-foto {
    height: 220px;
    width: 220px;
  }

  .sobre-conteudo h1 {
    font-size: 2rem;
  }

  .sobre-conteudo p {
    font-size: 0.7rem;
  }

  .social-media ul {
    gap: 30px;
  }

  .social-media ul svg {
    height: 30px;
    width: 30px;
  }
}












/* PARTE DOS MEUS PROJETOS */

.projeto-bg {
  background-color: var(--cor-n9);
  padding: 20vh 0;
}

.projeto {
  width: 100%;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.projeto-conteudo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 100px;
}

.projeto-conteudo h1 {
  font: 700 3rem/1 "Poppins", sans-serif;
}

.projeto-conteudo  p {
  font: 400 1rem/1.5 "Poppins", sans-serif;
  max-width: 600px;
}

.projeto-cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  display: grid;
  grid-template-columns: 2fr 2.5fr 2fr;
  width: 650px;
  background-color: var(--cor-n10);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px #bdbdbd;
  position: relative;
}

.card-start {
  padding-left: 30px;
  padding-block: 20px;
}

.card-start img {
  width: 140px;
  height: 140px;
}

.card-center {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 20px;
}

.card-center h2 {
  font: 700 1.5rem/1 "Poppins", sans-serif;
}

.card-center p {
  margin-top: 12px;
  font: 400 0.8rem/1.5 "Poppins", sans-serif;
}

.card-end {
  display: flex;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 20px;
  flex-direction: column;
  justify-content: space-between;

}

.habilidades {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.habilidades p {
  font: 500 0.75rem/1 "Poppins", sans-serif;
  text-transform: uppercase;
  color: var(--cor-n0);
  background-color: var(--cor-n8);
  padding: 8px 12px;
  border-radius: 20%;
}
.habilidades-links {
  display: flex;
  align-self: flex-end;
}
.habilidades-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* MEXENDO NO ICONE DO GITHUB*/
.habilidades-links a:first-child svg {
  height: 20px;
  width: 20px;
  background-color: var(--cor-n9);
  padding: 8px;
  border-start-start-radius: 5px;
  border-end-start-radius: 5px;
  border-right: solid 2px var(--cor-n10);
  fill: var(--cor-n2);
  transition: background-color 0.3s, fill 0.1s;
}
.habilidades-links a:first-child svg:hover {
  background-color: var(--cor-n5); 
  fill: var(--cor-n0);
}

/* Mexenod no icone da web*/
.habilidades-links a:nth-child(2) {
  padding: 8px 15px;
  background-color: var(--cor-n9);
  border-start-end-radius: 5px;
  border-end-end-radius: 5px;
  font: 400 0.8rem/1 "Poppins", sans-serif;
  color: var(--cor-n2);
  transition: background-color 0.3s, color 0.1s;
}
/*Setinha da web*/
.habilidades-links a:nth-child(2)>svg {
  height: 15px;
  width: 15px;
  fill: var(--cor-n2);
  transition: fill 0.1s;
}
.habilidades-links a:nth-child(2):hover {
  background-color: var(--cor-n5); /* Cor de fundo no hover */
  color: var(--cor-n0); /* Cor do texto no hover */
}
.habilidades-links a:nth-child(2):hover > svg {
  fill: var(--cor-n0); /* Cor do ícone no hover */
}



/* Diminuir o tamanho para continuar responsivo */
@media(max-width: 1200px) {
  .projeto-conteudo {
    gap: 30px;
    margin-right: 60px;
  }

  .projeto-conteudo h1 {
    font-size: 2.2rem;
  }

  .projeto-conteudo p {
    font-size: 0.9rem;
  }

  /*Adaptando o card*/
  .card{
    width: 520px;
  }
  .card-start {
    padding-left: 25px;
    padding-block: 15px;
  }
  .card-start img{
    height: 110px;
    width: 110px;
  }

  .card-center {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 15px;
  }
  .card-center h2{
    font-size: 1.2rem;
  }
  .card-center p{
    font-size: 0.7rem;
  }
  .card-end {
    padding-top: 30px;
    padding-right: 15px;
  }
  .habilidades {
    gap: 10px;
  }
  .habilidades p {
    font-size: 0.6rem;
    padding: 5px 8px;
  }
  .habilidades-links a:first-child svg {
    height: 15px;
    width: 15px;
    padding: 6px;
  }
  .habilidades-links a:nth-child(2) {
    font-size: 0.65rem;
    padding: 6px 10px;
  }
  .habilidades-links a:nth-child(2) > svg {
    height: 12px;
    width: 12px;
  }
}

/* Mudando para uma coluna */
@media(max-width: 960px) {
  .projeto-bg {
    padding: 10vh 0;
  }

  .projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
  }

  .projeto-conteudo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 0px;
  }

}


/* Mudando os cards para o Mobile */
@media(max-width: 600px) {}