.sobre-bg{
  background-color: var(--cor-n1);
  padding: 20vh 0;
}

.sobre{
  padding: 0 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 140px;
}

.introducao-conteudo{
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
}

.introducao-conteudo h1{
  display: inline-block;
  font: 800 4rem/1 "Poppins", sans-serif;
  position: relative;
}

.introducao-conteudo h1::after{
  content: "";
  display: block;
  height: 5px;
  width: 20%;
  background-image: var(--cor-linear);
  position: absolute;
  margin-top: 5px;
  left: 4px;
}

.introducao-conteudo p {
  font: 400 1.25rem/1.5 "Poppins", sans-serif;
  max-width: 600px;
}

/* Social Medias */
.social-media ul{
  display: flex;
  gap: 40px;

}

.social-media ul svg{
  height: 40px;
  width: 40px;
  fill: #AC3AFF;
}

.social-media ul svg:hover{
  opacity: 0.5;
}



/* Minha foto */
.introducao-foto {
  display: inline-block;
  height: 100%;
  width: 500px;
}

.introducao-foto img {
  display: block;
  max-height: 500px;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  ;
}