.sobre-bg{
  background-color: var(--cor-n0);
  padding: 20vh 0;
}

.sobre{
  padding: 0 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 140px;
}

.sobre-conteudo{
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
}

.sobre-conteudo h1{
  display: inline-block;
  font: 800 4rem/1 "Poppins", sans-serif;
  position: relative;
}

.sobre-conteudo h1::after{
  content: "";
  display: block;
  height: 5px;
  width: 20%;
  background-image: var(--cor-linear);
  position: absolute;
  margin-top: 5px;
  left: 4px;
}

.sobre-conteudo p {
  font: 400 1.25rem/1.5 "Poppins", sans-serif;
  max-width: 600px;
}

/* Social Medias */
.social-media ul{
  display: flex;
  gap: 40px;

}

.social-media ul svg{
  height: 40px;
  width: 40px;
  fill: #AC3AFF;
}

.social-media ul svg:hover{
  opacity: 0.5;
}



/* Minha foto */
.sobre-foto {
  display: inline-block;
  height: 500px;
  width: 500px;
}

.sobre-foto img {
  display: block;
  max-height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: solid 5px #AC3AFF ;
}

/* Diminuir tamanho dos elementos */
@media(max-width: 1200px){
  .sobre-conteudo{
    gap: 40px;
  }
  .sobre-conteudo h1{
    font-size: 3rem;
  }
  .sobre-conteudo p{
    font-size: 1rem;
  }
  .sobre-foto {
    height: 400px;
    width: 400px;
  }
}

/* Colocar todos os elementos em apenas uma coluna*/
@media(max-width: 960px){
  .sobre-bg {
    padding: 15vh 0vh;
  }
  .sobre {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
}

/* Diminui os conteúdos para nao estourar o container*/
@media(max-width: 600px){
  .sobre-foto{
    height: 300px;
    width: 300px;
  }
  .sobre-conteudo h1{
    font-size: 2.5rem;
  }
  .sobre-conteudo p{
    font-size: 0.75rem;
  }
}

/* Adaptação dos componentes para o mobile  */
@media(max-width: 450px){
  .sobre-bg{
    padding: 10vh 0;
  }
  .sobre{
    gap: 75px;
  }
  .sobre-foto{
    height: 220px;
    width: 220px;
  }
  .sobre-conteudo h1{
    font-size: 2rem;
  }
  .sobre-conteudo p{
    font-size: 0.7rem;
  }
  .social-media ul{
    gap: 30px;
  }
  .social-media ul svg{
    height: 30px;
    width: 30px;
  }
}